.returnBar {
  width: 100%;
  border-radius: 10px;
  display: inline-block;
}

.returnNagbar {
  height: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 10px;
  float: left;
}

.returnPosbar {
  height: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  float: right;
}
